@charset "utf-8";

/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, form 
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body
{
    background-color: #333;
    background-image: url(../images/basketball_wallpaper.png);
    color: #FAFAFA;
}

.wrapper
{
    width: 960px;
    height: 600px;
    background-color: #141414;
    margin: 25px auto 15px auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 8px;
/*    background-image: url(../images/body_background_2.png);*/
}