/*
    Document   : main.css
    Created on : Apr 26, 2013, 4:32:16 PM
    Author     : Matt Gass
    Description:
        CSS related to the module "main"
*/

main.football {
	background-color: #FFFFFF;
}

.football div {
	border: 1px solid red;
}