/*
    Document   : main.css
    Created on : Apr 26, 2013, 4:32:16 PM
    Author     : Matt Gass
    Description:
        CSS related to the module "main"
*/

#header p{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	text-align:left;
	font-size:22px;
	color:#003365;
	font-weight:bold;
}