/*
    Document   : user.css
    Created on : May 11, 2013, 3:02:11 PM
    Author     : Matt Gass
    Description:
        This file contains CSS related to users, e.g. login, signup etc...
*/

#header_login_container, #welcome_container {
	float:right;
	width: 380px;
	margin: 10px 4px 2px;
	padding: 2px;
	font-size: 10px;
    line-height: 1em;
}

#welcome_container {
	width: 100px;
	text-align: center;
	font-size: 14px;
    line-height: 2em;
}

#login_container, #signup_container {
	width: 400px;
	margin: 10px auto 2px 200px;
	padding: 2px;
	font-size: 11px;
    line-height: 2em;
}

.user_form {
	background-color: #BDC7D8;
    color: #1D2A5B;
    direction: ltr;
	border: 1px solid #BDC7FF;
    border-collapse: collapse;
    border-spacing: 0;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.user_form label {
	display: inline-block;
	margin: 2px;
	padding: 2px;
    font-size: 13px;
    width: 120px;
    text-align: right;
}

#header_login_container label {
}

.user_form input {
    display: inline-block;
	width: 120px;
    border: 1px solid #BEC7D8;
	margin: 1px;
	padding: 1px 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px
}

.user_form input[type="text"], .user_form input[type="password"] {
}

#header_login_container input[type="text"], #header_login_container input[type="password"] {
}

.user_form a {
	margin: 2px 40px;
	font-size: 12px;
}

.user_form input[type="submit"] {
    width: 100px;
	height: 28px;
    font-weight: bold;
	font-size: 16px;
    white-space: nowrap;
    border-style: solid;
    text-align: center;
    text-decoration: none;
	background-color: #073360;
    color: white;
    cursor: pointer;
}

.user_form input[type=submit]:hover, form.userform a:hover {
	background: #287368;
	cursor: pointer;
}

.user_form input[type="checkbox"] {
	width: 10px;
	padding: 4px 2px;
}

.user_form .error {
	width: 300px;
	margin: 1px 2px 1px 130px;
	text-align: left;
	color: red;
}